.form--field{
  margin-left: 20px;
  padding: 6px 10px;
  margin-bottom: 7px;
  border-style: inset;
  border-width: 3px;
}
.form{
  width:90vw;
  margin: 3vh auto;
  border-style:outset;
  border-width: 2px;
  padding: 10px;
  background-color:#D3D3D3;

}
.form--submit{
  cursor: pointer;
  background-color: #00004d;
  margin-left: 5vw;
  font-weight: bold;
  color: white;
}
